<%- include('partials/head') %> 
<%- include('partials/header') %> 

<main>
    <div class="pageCover">
        <div class="collectionComponent" style="background-color: <%= genreColor %>;">
            <h1 class="pageCoverTitle">Top <%= genreName %> films</h1>
        </div>
    </div>
    <%- include('partials/resultsWrapper', {filmCategory: genreFilms.results}) %> 
    <h2 class="centerTitle"> Page <%= genrePage %></h2>
        <div class="pageWrapper">
            <% if (+genrePage !== 1) { %>
                <a class="button pageButton" href="/film/genre/<%= genreID %>/<%= +genrePage - 1 %>">Previous</a>
            <% } %>
            <a class="button pageButton" href="/film/genre/<%= genreID %>/<%= +genrePage + 1 %>">Next</a>
        </div>
</main>

<%- include('partials/footer') %> 