<%- include('partials/head') %> 
<%- include('partials/header') %> 

<main>
    <h2 class="sectionTitle centerTitle">Top <%= genreName %>  films</h2>
    <%- include('partials/resultsWrapper', {filmCategory: genreFilms.results}) %> 
    <h2 class="centerTitle"> Page <%= genrePage %></h2>
        <div class="pageWrapper">
            <% if (+genrePage !== 1) { %>
                <a class="button pageButton" href="/film/genre/<%= genreID %>/<%= +genrePage - 1 %>">Previous</a>
            <% } %>
            <a class="button pageButton" href="/film/genre/<%= genreID %>/<%= +genrePage + 1 %>">Next</a>
        </div>
</main>

<%- include('partials/footer') %> 