<%- include('partials/head') %> 
<%- include('partials/header') %> 

<main>
    <h2 class="sectionTitle">All genres</h2>
    <div class="scroller">
        <div class="nextArrow leftScroll smallWrapperArrow">
            <span class="material-icons-round">chevron_left</span>
        </div>
        <section class="wrapper">
        <% for( let index = 0; index < allFilmGenres.length; index++ ) { %>
            <a href="/film/genre/<%= allFilmGenres[index].id %>/1" >
            <div style="color: <%= allFilmGenres[index].color %>; border-color: <%= allFilmGenres[index].color %>a3" class="detailsComponent"><%= allFilmGenres[index].name %> </div>
            </a>
        <% } %>
        </section>
        <div class="nextArrow rightScroll smallWrapperArrow">
            <span class="material-icons-round">chevron_right</span>
        </div>
    </div>
    <div class="pageCover">
        <div class="collectionComponent" style="background-color: <%= genre.color %>;">
            <h1 class="pageCoverTitle">Top <%= genre.name %> films</h1>
            <img class="collectionImage" src="https://image.tmdb.org/t/p/w780<%= genreFilms.results[0].backdrop_path %>" alt="">
        </div>
    </div>
    <%- include('components/resultsWrapper', {filmCategory: genreFilms.results}) %> 

        <div class="pageComponent">
            <% if (+genrePage !== 1) { %>
                <a class="button pageButton" href="/film/genre/<%= genreID %>/1">First</a>
                <a class="button pageButton" href="/film/genre/<%= genreID %>/<%= +genrePage - 1 %>"><%= +genrePage -1 %></a>
            <% } %>
            <a class="button pageButton" style="color: #fee97d;"><%= +genrePage %></a>
            <% if (genreFilms.results.length === 20) { %>
                <a class="button pageButton" href="/film/genre/<%= genreID %>/<%= +genrePage + 1 %>"><%= +genrePage + 1 %></a>
                <a class="button pageButton" href="/film/genre/<%= genreID %>/<%= totalPages %>">Last</a>
            <% } %>
        </div>
</main>

<%- include('partials/footer') %> 