<%- include('partials/head') %> 
<%- include('partials/header') %>
<%- include('functions') %> 

<main id="homeWrapper">
    <% if (currentUser) { %>
        <h1 id="homeTitle">🤙 Hello <%= currentUser.username %>!</h1>
    <% } %> 

    <% if (currentUser && watchlist.length) { %>
        <a href="/watchlist"><h2 class="sectionTitle">Your Watchlist</h2></a>
        <%- include('components/filmScroller', {filmCategory: watchlist, order: "reverse"}) %>
    <% } %>

    <h2 class="sectionTitle">Discover</h2>
    <div class="scroller">
        <div class="nextArrow leftScroll">
            <span class="material-icons-round">chevron_left</span>
        </div>
        <section class="wrapper">
            <% for( let index = 0; index < discoverFilms.length; index++ ) { %>
                    <div class="filmBackdropComponent">
                        <a href="/film/<%= discoverFilms[index].id %> ">
                            <img class="filmBackdropImage" src="https://image.tmdb.org/t/p/w1280/<%= discoverFilms[index].backdrop_path %>" alt="" loading="lazy">
                        </a>
                        <p class="filmBackdropText"><span style="font-weight: 600;"><%= discoverFilms[index].title %></span>  (<%= discoverFilms[index].release_date.slice(0,4)%>)</p>  
                    </div>
            <% } %>
        </section>
        <div class="nextArrow rightScroll">
            <span class="material-icons-round">chevron_right</span>
        </div>
    </div>

    <h2 class="sectionTitle">Top <%= filmGenre.name %> Films</h2>
    <%- include('components/filmScroller', {filmCategory: randomGenreFilms.results, order: randomOrder()}) %>

    <h2 class="sectionTitle">Need some inspiration?</h2>
    <div class="scroller">
        <div class="nextArrow leftScroll">
            <span class="material-icons-round">chevron_left</span>
        </div>
        <section id="appsWrapper" class="wrapper">
            <a id="collectionsButton" class="appButton" href="/collections">
                <span class="material-icons bigIcon">auto_awesome_mosaic</span>
                <h3 class="appTitle">Your collections</h3>
                <p class="appDescription">Pick a film from your collections</p>
            </a>
            <a id="randomButton" class="appButton" href="/film/<%= randomID %>">
                <span class="material-icons bigIcon">shuffle</span>
                <h3 class="appTitle">Random</h3>
                <p class="appDescription">Go with the flow</p>
            </a>
            <a id="georgesButton" class="appButton" href="">
                <span class="material-icons bigIcon">face</span>
                <h3 class="appTitle">Georges</h3>
                <p class="appDescription">Let our bot find your next favorite film</p>
            </a>
            <a id="swiperButton" class="appButton" href="/film/swiper">
                <span class="material-icons bigIcon">swipe</span>
                <h3 class="appTitle">Swiper</h3>
                <p class="appDescription">Follow your instincts</p>
            </a>
        </section>
        <div class="nextArrow rightScroll">
            <span class="material-icons-round">chevron_right</span>
        </div>
    </div>

    <h2 class="sectionTitle">Top Rated Films</h2>
    <%- include('components/filmScroller', {filmCategory: topFilms.results, order: randomOrder()}) %>

    <h2 class="sectionTitle">All genres</h2>
    <div class="scroller">
        <div class="nextArrow leftScroll smallWrapperArrow">
            <span class="material-icons-round">chevron_left</span>
        </div>
        <section class="wrapper">
        <% for( let index = 0; index < allFilmGenres.length; index++ ) { %>
            <a href="/film/genre/<%= allFilmGenres[index].id %>/1" >
            <div style="color: <%= allFilmGenres[index].color %>; border-color: <%= allFilmGenres[index].color %>a3" class="detailsComponent"><%= allFilmGenres[index].name %> </div>
            </a>
        <% } %>
        </section>
        <div class="nextArrow rightScroll smallWrapperArrow">
            <span class="material-icons-round">chevron_right</span>
        </div>
    </div>
    
    <h2 class="sectionTitle">Trending Films</h2>
    <%- include('components/filmScroller', {filmCategory: popularFilms.results, order: randomOrder()}) %>

</main>


<%- include('partials/footer') %> 


