<%- include('partials/head') %> 
<%- include('partials/header') %> 

<main>
<h2 class="sectionTitle centerTitle">Search results for "<%= q %>": </h2>
<div id="resultsWrapper">
    <%- include('components/filmComponent', {filmCategory: searchedFilms.results}) %>
</div>
</main>


<%- include('partials/footer') %> 