<%- include('partials/head') %> 
<%- include('partials/header') %> 

<main>
    <h1 class="centerTitle">Search results for "<%= q %>": </h1>
    <%- include('components/resultsWrapper', {filmCategory: searchedFilms.results}) %>
</main>


<%- include('partials/footer') %> 