<%- include('../partials/head') %> 
<%- include('../partials/header') %>

<main>
    <div class="pageCover">
            <div class="collectionComponent" style="background-color: <%= collection.color %>;">
                <h1><%= collection.name %></h1>
                <% if (collection.filmID.length == undefined) { %>
                    <h2>0 Films</h2>
                <% } else { %>
                    <h2><%= collection.filmID.length %>  Films - <%= collection.visibility %></h2>
                <% } %>
                <img class="collectionImage" src="<%= collection.image %>" alt="">
            </div>
    </div>
    <%- include('../partials/resultsWrapper', {filmCategory: collectionFilms, collectionComponent: true}) %> 
</main>

<%- include('../partials/footer') %> 