<%- include('../partials/head') %> 
<%- include('../partials/header') %>

<form class="formComponent fullForm" action="/collections/<%= filmID %>/add?_method=PUT" method="POST">
    <h1>Save Film to Collections</h1>
    <div class="listWrapper">
        <% collections.forEach(collection => { %>
            <% if (collection.filmID.includes(filmID)) { %>
                <div class="listComponent collectionSelector selected" data-collection-id="<%= collection._id %>">
                    <div class="listColor" style="background-color: <%= collection.color %>;">
                        <img class="collectionImage" src="<%= collection.image %>" alt="">
                    </div>
                    <div class="flexColumn">
                        <p><span><%= collection.name %></span></p>
                        <p><%= collection.filmID.length %>  Films</p>
                    </div>
                </div>
            <% } else { %>
                <div class="listComponent collectionSelector" data-collection-id="<%= collection._id %>">
                    <div class="listColor" style="background-color: <%= collection.color %>;">
                        <img class="collectionImage" src="<%= collection.image %>" alt="">
                    </div>
                    <div class="flexColumn">
                        <p><span><%= collection.name %></span></p>
                        <p><%= collection.filmID.length %>  Films</p>
                    </div>
                </div>
            <% } %>

        <% }) %>
    </div>
    <div class="buttonsWrapper formButtonsWrapper">
        <a href="/film/<%= filmID %>" class="button" id="cancelButton"><span class="material-icons iconMargin">keyboard_backspace</span>Cancel</a>
        <button type="submit" name="collections" class="mainButton" id="saveToCollectionButton">Save</button>
    </div>
</form>

<!-- <div class="overlay"></div> -->
<%- include('../partials/footer') %>